body {
  margin: 0;
  font-family: "OpenSans", "Open Sans", Arial, Sans-serif;
  font-weight: 300; }

#headerBG {
  background: #333333; }

#header {
  margin-left: auto;
  margin-right: auto;
  color: #dddddd;
  text-align: center;
  font-family: "Raleway", Arial, Sans-serif; }

#footer {
  background: #333333;
  height: 20px;
  width: 100%;
  bottom: 0px; }

#headerSub {
  line-height: 2.5em; }

#headerName {
  font-size: 4em; }

#portrait {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -40px; }

#portraitImage {
  width: 800%; }

#nav {
  text-align: center;
  width: 100%;
  margin-bottom: 40px; }

.navLink {
  width: 80px;
  display: inline-block;
  line-height: 2em; }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 40em; }

.subHeader {
  font-family: "Roboto", "Lato", Arial, Sans-serif; }
