body{
    font-family: "Figtree";
    font-size:24px;
    line-height: 1.5;
    background-color: #fff;
    color: #666666;
    margin:0px;
    @media only screen and (max-width: 900px) {
        font-size: 20px;
    }
}

p:last-child{
    margin-bottom: 0px;
}

a:focus{
    outline:none;
    border-radius: 4px;;
    box-shadow: 0 0 0 2px #ffffff, 0px 0px 0px 4px #3347D6;
}

main{
    margin: auto;
}
.header-color{
    background-color: #d63d46;
    color: white;
    padding: 4px;
}

.work-block, .header-block{
    margin: auto;
    max-width: 960px;
    padding: 20px;
}

.image-row{
    max-width: 1280px;
    margin: auto;
    min-height: 320px;
    @media only screen and (max-width: 900px) {
        min-height: 240px;
    }
}

h1 {
    font-size: 82px;
    font-weight: 300;
    line-height: 1;
    margin: .3em 0 0;
    flex:2;
    @media only screen and (max-width: 900px) {
        font-size: 64px;
    }
}

.h1-subheader {
    font-size: 24px;
    line-height: 1.5;
    padding-top:12px;
}

h2 {
    font-size: 40px;
    margin-bottom: 0;
    @media only screen and (max-width: 840px) {
        font-size: 24px;
    }
}

.h2-subheader {
    font-size: 40px;
    @media only screen and (max-width: 840px) {
        font-size: 24px;
    }
}

a{
    color: #3347D6;
}

.cvlink{
    font-size: 18px;
    color: white;
}

.cvlink>.material-symbols-outlined {
    vertical-align: text-bottom;
    font-size: 20px;
}

.highlight-container{
    display: inline-block;
    margin-left:-12px;
    margin-bottom: 8px;
}

.highlight{
    padding: 8px 16px;
    display: block;
}

.highlight-purple{
    background-color: #C42CC9;
    color: #ffffff;
}

.highlight-orange{
    background-color: #D0420E;
    color: #ffffff;
}

.highlight-blue{
    background-color: #3347D6;
    color: #ffffff;
}

.highlight-red{
    background-color: #d63d46;
    color: #ffffff;
}

ul.image-row{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tobii-helper{
    margin: auto;
    width: 240px;
    font-size: 16px;
    font-style: italic;
}

.learn-container{
    margin: auto;
    width: fit-content;
}
a.learn-more{
    transition: all 0.1s ease-in;
    border-radius: 0;
    font-size: 24px;
    padding: 12px 24px;
    font-weight: bold;
    color: #3347D6;
    border: 4px solid #3347D6;
    display: block;
    text-decoration: none;;
    width: fit-content;
    text-align: center;
    margin-top:40px;
    margin-bottom:40px;
    box-shadow: 0 0 0 2px #ffffff, 6px 6px 0px 0px #3347D6;
}
a.learn-more:hover, a.learn-more:focus{
    /* border-radius: 8px; */
    font-size: 24px;
    padding: 12px 24px;
    font-weight: bold;
    color: #3347D6;
    border: 4px solid #3347D6;
    background-color: rgba(51, 71, 214, 5%);
    display: block;
    text-decoration: none;;
    width: fit-content;
    text-align: center;
    margin:34px auto 46px -6px;
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0px 0px #3347D6;
}

li.image{
    transition: all 0.1s ease-in;
    flex:1;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    min-width: 240px;
    height: 240px;
}
li.image a{
    line-height: 0px;
}
.image-item{
    transition: all 0.1s ease-in;
    width: 100%;
    max-height: 230px;
    border: 1px solid #3347D6;
    box-shadow: 0 0 0 2px #ffffff, 12px 12px 0 0 #3347D6;
}


.image-item:hover, a:focus .image-item{
    margin: -4px 0 0 -4px;
    max-height: 234px;
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #3347D6;
}
.image a:focus{
    box-shadow:none;
}

.image:nth-child(2n) .image-item{
    box-shadow: 0 0 0 2px #ffffff, 12px 12px 0 0 #C42CC9;
}

.image:nth-child(2n) .image-item:hover{
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #C42CC9;
}

.image:nth-child(2n) a:focus .image-item{
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #C42CC9;
}

.image:nth-child(3n) .image-item{
    box-shadow: 0 0 0 2px #ffffff, 12px 12px 0 0 #D0420E;
}

.image:nth-child(3n) .image-item:hover{
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #D0420E;
}

.image:nth-child(3n) a:focus .image-item{
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #D0420E;
}
.image:nth-child(4n) .image-item{
    box-shadow: 0 0 0 2px #ffffff, 12px 12px 0 0 #6CEB8E;
}

.image:nth-child(4n) .image-item:hover{
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #6CEB8E;
}

.image:nth-child(4n) a:focus .image-item{
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0 0 #6CEB8E;
}


hr{
    margin: 24px auto 0px;
    max-width: 1080px;
}

.contact{
    text-align: center;
}

ul.contact-links{
    list-style: none;
    font-size: 18px;
    padding:0;
    margin: 0;
}

/* Tobii overrides */
figcaption{
    padding: 1.5rem !important;
    margin-bottom: 40px;
    bottom: auto;
}

figure>img{
    padding-bottom: 40px;
}
.tobii__slide figure{
    position:inherit;
}


ul.showcase{
    max-width: 960px;
    margin: auto;
    padding: 0px;
}

ul.showcase li.image{
    height: fit-content;
    flex-wrap: wrap;
    padding: 32px 0px;
    border-bottom: 4px solid #ccc;
}
ul.showcase li.image:first-child{
    padding-top: 0px;
}

ul.showcase li.image:last-child{
    border-bottom: none;
}

ul.showcase li.image:nth-child(2n){
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

ul.showcase a{
    flex: 1;
    text-align: center;
    padding-bottom:20px;
}

ul.showcase a img{
    width: auto;
}

ul.showcase p{
    flex: 1;
    min-width: 320px;
    padding: 0 20px;
    font-size: 18px;
}