:root {
    --blue-var: 51, 71, 214;
    --blue: #3347d6;
    --aqua: #33d6d6;
    --aqua-var: 51, 214, 214;
    --red-var: 214, 61, 70;
    --red: #d63d46;
    --purple-var: 196, 44, 201;
    --purple: #c42cc9;
    --orange-var: 208, 66, 14;
    --orange: #d0420e;
    --green-var: 108, 235, 142;
    --green: #6ceb8e;
    --link-button-resting: 0 0 0 2px #ffffff, 0px 0px 0px 2px;
    --link-button-hover: 0 0 0 2px #ffffff, 6px 6px 0px 0px;
    --image-resting: 0 0 0 2px #ffffff, 4px 4px 0px 0px;
    --image-hover: 0 0 0 2px #ffffff, 12px 12px 0px 0px;
}

/* High Level Layout */

body{
    font-family: "Figtree";
    font-size:20px;
    line-height: 1.5;
    background-color: rgba(255,255,255, .95);
    color: #666666;
    margin:0px;
}


main, .contact, .top-nav__block{
    margin: auto;
    max-width: 960px;
    padding: 80px;
    padding-bottom: 20px;
}

.footer{
    background-color: black;
    color: #fefefe;
    min-height: 60px;
    width: 100%;
}

.footer--sticky{
    position: absolute;
    bottom: 0;
}


.top-nav{
    background: #333333da;
    backdrop-filter: blur(5px);
    color: #fff;
    font-size: 18px;
}
.top-nav__block{
    padding: 20px;
}
.top-nav__content{
    padding: 0 48px;
}
/* Typography */

h1, .h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    margin: 0;
    margin-right: 8px;
}

h2, .h2{
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 8px;
    margin-top: 48px;
}

.h1--subheader{
    font-size: 16px;
    line-height: 2em;
}
.h2--subheader{
    font-size: 24px;
    line-height: 1em;
    font-weight: bold;
    margin-top: 16px;
}

.border--blue{
}
.border--red{
}
.border--orange{
}
.header--first{
    margin-top:0px;
}
p{
    font-size: 20px;
}

.footer__header{
    margin: 0;
    font-size: 16px;
    display: inline;
}

.top-nav__link{
    display: inline;
    color: #fff;
    text-decoration: none;
}

a>.material-symbols-outlined {
    /* vertical-align: text-bottom; */
    font-size: .8em;
}

.contact__link{
    color: #fefefe;
    font-size: 16px;
}

.contact__link-list{
    padding: 0 48px;
    list-style: none;
    color: #fefefe;
}
.contact-links li{
    display: inline-block;
    font-size: 16px;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cover-list__item{
    margin-bottom: 4px;
}


/* Background Images */

.photo-background{
    background-image:url('a11y-banner2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-size: cover;
}

.photo-header--work{
    background-image:
        url('work-banner.png');
}

.photo-header__cutout{
    max-width: 1000px;
    margin: 40px auto;
    background: rgba(255,255,255, .95);
    backdrop-filter: blur(5px);
    padding: 48px;
}

.photo-background--home{
    background-color: green;
    background-image: url('../images/cover-photos/3_cherrytree.jpg');
    background-size: cover;
    height: 100vh;
}

.photo-background--work{
    background-image: url('../images/cover-photos/10_stock.jpg');
}

.blur-container{
    height: 100%;
    backdrop-filter: blur(5px);
}


.contact{
    padding:10px 108px;
}

.contact__link-list{
    list-style: none;
    max-width: 980px;
    margin:auto;
}

.contact__link-list__item{
    display: inline;
    margin-right: 24px;
}

.header-block, .body-block{
    background-color: rgba(255,255,255, .95);
    margin-bottom: 64px;
    width: fit-content;
    padding: 48px;
}

.header-block h1:first-child,
.body-block h2:first-child{
    margin-top: 0;
}

.body-block{
    min-width: 640px;
    max-width: 720px;
    /* margin-bottom: 120px; */
}


/* global link animation (breaking BEM for this) */

a{
    width: fit-content;
    text-decoration: none;
    margin-bottom:1em;
    /* Considering this but can't until I see more content */
    padding: 2px 0px;
}

a:focus{
    outline:none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ffffff, 0px 0px 0px 4px var(--blue);
}

a:hover,
a:focus{
    background-size: 0 2px, 200% 2px;
}

a {
    text-decoration: none;
    background: 
        linear-gradient(to right, rgba(var(--blue-var), .7), rgba(var(--blue-var), .5)),
        linear-gradient(to right, rgba(var(--purple-var), 1), rgba(var(--purple-var), 1), rgba(var(--blue-var), .8));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
 
a:focus{
    outline:none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ffffff, 0px 0px 0px 4px var(--blue);
}


.contact__link, .top-nav__link{
    background: 
        linear-gradient(to right,#fff, #fff),
        linear-gradient(to right, rgba(var(--purple-var), 1),  #fff, #fff);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

}
.link--big{
    text-decoration: none;
    background: 
        linear-gradient(to right, rgba(var(--blue-var), 1), rgba(var(--blue-var), 1)),
        linear-gradient(to right, rgba(var(--purple-var), 1), rgba(var(--purple-var), 1), rgba(var(--blue-var), 1));
    background-size: 100% 6px, 0 6px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.contact__link:hover,
.contact__link:focus, 
.top-nav__link:hover,
.top-nav__link:focus{
    background-size: 0 2px, 200% 2px;
}

.link--big:hover,
.link--big:focus{
    background-size: 0 6px, 200% 6px;
}

.a11y{
    background-image:url('a11y-banner2.png');
}

.amt{
    background-image:url('amt-spec.png');
}

.appsys{
    background-image:url('amt-banner.png');
}

.mag{
    background-image:url('mag-banner.png');
}

.home-link{
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin:auto;
    margin-top: 48px;
}


hr{
    border-width: 0px;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    margin-top: 48px;
    height: 2px;
    background: linear-gradient(to right, rgba(var(--blue-var), 1), rgba(var(--purple-var), 1));
}
hr:nth-of-type(2){
    background: linear-gradient(to right, rgba(var(--purple-var), 1), rgba(var(--aqua-var), 1));
}
hr:nth-of-type(3){
    background: linear-gradient(to right, rgba(var(--aqua-var), 1), rgba(var(--blue-var), 1));
}


/* Responsive Overrides */
@media only screen and (max-width: 900px) {
    main{
        padding: 20px 20px 0 20px;
        width: auto;
    }
    body{
        font-size: 20px;
    }
    .body-block{
        width: auto;
        min-width: auto;
    }

    .footer--sticky{
        display: inline-block;
        width:100% ;
    } 
}
@media only screen and (max-width: 1070px) {
    .photo-header{
        padding: 20px 0px;
        background-size: initial;
    }
    h1, .h1{
        font-size: 56px;
    }
    h2, .h2{
        font-size: 48px;
    }
}

@media only screen and (max-height: 1074px) {
    .photo-background--home{
        height: fit-content;
    }
    .footer--sticky{
        position: relative;
    }
}