
:root {
    --blue-var: 51, 71, 214;
    --blue: #3347d6;
    --red-var: 214, 61, 70;
    --red: #d63d46;
    --purple-var: 196, 44, 201;
    --purple: #c42cc9;
    --orange-var: 208, 66, 14;
    --orange: #d0420e;
    --green-var: 108, 235, 142;
    --green: #6ceb8e;
    --link-button-resting: 0 0 0 2px #ffffff, 0px 0px 0px 2px;
    --link-button-hover: 0 0 0 2px #ffffff, 6px 6px 0px 0px;
    --image-resting: 0 0 0 2px #ffffff, 4px 4px 0px 0px;
    --image-hover: 0 0 0 2px #ffffff, 12px 12px 0px 0px;
  }

body{
    font-family: "Figtree";
    font-size:24px;
    line-height: 1.5;
    background-color: #fff;
    color: #666666;
    margin:0px;
}
@media only screen and (max-width: 900px) {
    body{
        font-size: 20px;
    }
}

p:last-child{
    margin-bottom: 0px;
}

a:focus{
    outline:none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ffffff, 0px 0px 0px 4px var(--blue);
}

main{
    margin: auto;
}
.header-color{
    background-color: #d63d46;
    color: white;
    padding: 4px;
}

.work-block, .header-block{
    margin: auto;
    max-width: 960px;
    padding: 20px;
}

.image-row{
    max-width: 1280px;
    margin: auto;
    min-height: 320px;
}
@media only screen and (max-width: 900px) {
    .image-row{
        min-height: 240px;
    }
}
@media only screen and (max-width: 720px) {
    .image-row li.image{
        max-width: 120px;
        min-width: 80px;
        height: 80px;
    
    }
}

h1 {
    font-size: 82px;
    font-weight: 300;
    line-height: 1;
    margin: .3em 0 0;
    flex:2;
    color: #333;
}

.h1-subheader {
    font-size: 24px;
    line-height: 1.5;
    padding-top:12px;
}

h2, .h2 {
    font-size: 40px;
    margin-bottom: 0;
}

.h2-subheader {
    font-size: 40px;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 24px;
    }
    .h2-subheader {
        font-size: 24px;
    }
}

@media only screen and (max-width: 920px) {
    .breakpoint {
        display: block;
        height: 1px;
        overflow: hidden;
    }
}

a{
    color: var(--blue);
}

.cvlink{
    font-size: 18px;
    color: white;
}

.cvlink>.material-symbols-outlined {
    vertical-align: text-bottom;
    font-size: 20px;
}

.highlight-container{
    display: inline-block;
    margin-left:-12px;
    margin-bottom: 8px;
}

.highlight{
    padding: 8px 16px;
    display: block;
}

.highlight-purple{
    background-color: var(--purple);
    color: #ffffff;
}

.highlight-orange{
    background-color: var(--orange);
    color: #ffffff;
}

.highlight-blue{
    background-color: var(--blue);
    color: #ffffff;
}

.highlight-red{
    background-color: var(--red);
    color: #ffffff;
}

ul.image-row{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tobii-helper{
    margin: auto;
    width: 240px;
    font-size: 16px;
    font-style: italic;
}

.learn-container{
    margin: auto;
    width: fit-content;
    align-items: center;
}
a.learn-more{
    transition: all 0.1s ease-in;
    border-radius: 0;
    font-size: 24px;
    padding: 12px 24px;
    font-weight: bold;
    color: #3347D6;
    border: 4px solid var(--blue);
    display: block;
    text-decoration: none;;
    width: fit-content;
    text-align: center;
    margin-top:40px;
    margin-bottom:40px;
    box-shadow: var(--link-button-resting);
}
a.learn-more:hover, a.learn-more:focus{
    /* border-radius: 8px; */
    font-size: 24px;
    padding: 12px 24px;
    font-weight: bold;
    color: #3347D6;
    border: 4px solid #3347D6;
    background-color: rgba(51, 71, 214, 5%);
    display: block;
    text-decoration: none;;
    width: fit-content;
    text-align: center;
    margin:34px auto 46px -6px;
    box-shadow: var(--link-button-hover);
}

a.learn-more.red{
    color: var(--red);
    border: 4px solid var(--red);
    box-shadow: 0 0 0 2px #ffffff, 6px 6px 0px 0px var(--red);
    box-shadow: var(--link-button-resting);
    color: var(--red);
}
a.learn-more.red:hover, a.learn-more.red:focus{
    background-color: #d63d4605;
    box-shadow: 0 0 0 2px #ffffff, 20px 20px 0px 0px var(--red);
    box-shadow: var(--link-button-hover);
    color: var(--red);
}

a.learn-more.purple{
    border: 4px solid var(--purple);
    box-shadow: var(--link-button-resting);
    color: var(--purple);
}
a.learn-more.purple:hover, a.learn-more.purple:focus{
    background-color: #c42cc905;
    box-shadow: var(--link-button-hover);
    color: var(--purple);
}

li.image{
    transition: all 0.1s ease-in;
    flex:1;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    min-width: 240px;
    height: 240px;
}
li.image a{
    line-height: 0px;
}
.image-item{
    transition: all 0.1s ease-in;
    width: 100%;
    max-height: 230px;
    border: 1px solid;
    box-shadow: var(--image-resting);
    opacity: 75%;
}


.image-item:hover, a:focus .image-item{
    margin: -4px 0 0 -4px;
    max-height: 234px;
    box-shadow: var(--image-hover);
    opacity: 100%;
}

.image a:focus{
    box-shadow:none;
}

.image:nth-child(1n) .image-item{
    border-color: var(--blue);
    color: var(--blue);
}

.image:nth-child(2n) .image-item{
    border-color: var(--purple);
    color: var(--purple);
}

.image:nth-child(3n) .image-item{
    border-color: var(--orange);
    color: var(--orange);
}

.image:nth-child(4n) .image-item{
    border-color: var(--green);
    color: var(--green);
}


hr{
    margin: 24px auto 0px;
    max-width: 1080px;
}

.contact{
    text-align: center;
}


ul.contact-links{
    list-style: none;
    font-size: 18px;
    padding:0;
    margin: 0;
}

/* Tobii overrides */
figcaption{
    padding: 1.5rem !important;
    margin-bottom: 40px;
    bottom: auto;
}

figure>img{
    padding-bottom: 40px;
}
.tobii__slide figure{
    position:inherit;
}


ul.showcase{
    max-width: 960px;
    margin: auto;
    padding: 0px;
}

ul.showcase li.image{
    height: fit-content;
    flex-wrap: wrap;
    padding: 32px 0px;
    border-bottom: 4px solid #ccc;
}
ul.showcase li.image:first-child{
    padding-top: 0px;
}

ul.showcase li.image:last-child{
    border-bottom: none;
}

ul.showcase li.image:nth-child(2n){
    height: fit-content;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}

ul.showcase a{
    flex: 1;
    text-align: center;
    padding-bottom:20px;
}

ul.showcase a img{
    width: auto;
    opacity: 100%;
}

ul.showcase p{
    flex: 1;
    min-width: 320px;
    padding: 0 20px;
    font-size: 18px;
}

.case-study p{
    flex: 1;
    min-width: 320px;
    font-size: 18px;
}

.case-study img.image-item{
    max-width: 200px;
}

.portfolio-images{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 00px;

    width: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px
}
.portfolio-images li{
    transition: all 0.1s ease-in;
    flex:1;
    padding: 8px;
    margin: 32px 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 80px;
    height: 140px;
    flex-shrink: 1;
}
@media only screen and (max-width: 720px) {
    .portfolio-images li{
        height: 50px;
    }
}
@media only screen and (max-width: 720px) {
    .portfolio-images li a img{
        height: auto;
        width: 100%;
        max-width: 150px;
    }
}


.flex-break{
    flex-basis: 100%;
    height: 0;;
}

.portfolio-images li a{

}

.portfolio-images li a:focus{
    box-shadow: none;
}


.portfolio-images li:nth-child(1n) .image-item{
    border-color: var(--blue);
    color: var(--blue);
}

.portfolio-images li:nth-child(2n) .image-item{
    border-color: var(--purple);
    color: var(--purple);
}

.portfolio-images li:nth-child(3n) .image-item{
    border-color: var(--orange);
    color: var(--orange);
}

.portfolio-images li:nth-child(4n) .image-item{
    border-color: var(--green);
    color: var(--green);
}


/* experiments in layout */

.cols{
    display: flex;
    border-radius: 5px;
    border: 2px solid #3347d6a1;
    background: #3347d605;
}
@media only screen and (max-width: 720px) {
    .cols{
        display: block;
    }
}

.case-study2 p{
    font-size: 18px;
}

.case-study img.image-item{
    max-width: 200px;
}


.cols p{
    font-size: 16px;
}
.cols h3{
    margin: 0;
    font-size: 20px;
}

.col-3, .col-3{
    padding:24px;
}
.col-2{
    flex:2;
    padding:24px;
}
.col-3{
    flex:3;
    padding:24px;
    border-right: 2px solid #3347d6a1;
}
@media only screen and (max-width: 720px) {
    .col-3{
        border-right: 0;
        border-bottom: 2px solid #3347d6a1;
    }
}


.portfolio-banner{
    padding: 64px;
    padding-bottom:0px;
    background-image:url('a11y-banner2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-width: 1240px) {
    .portfolio-banner{
        padding: 32px;
        padding-bottom:0px;
    }
}
@media only screen and (max-width: 1170px) {
    .portfolio-banner{
        padding: 20px 0px;
    }
}

.a11y{
    background-image:url('a11y-banner2.png');
}

.amt{
    background-image:url('amt-spec.png');
}

.appsys{
    background-image:url('amt-banner.png');
}

.mag{
    background-image:url('mag-banner.png');
}

.work{
    background-image:url('work-banner.png');
}


.banner-cutout{
    max-width: 1000px;
    margin: auto;
    margin-top: 200px;
    background: #ffffffee;
    backdrop-filter: blur(5px);
    padding: 20px 64px;
    border-radius: 4px;

}
@media only screen and (max-width: 1170px) {
    .banner-cutout{
        max-width:100%;
        padding: 0px 0;
        border-radius: 0;
    }
    .portfolio-banner{
        background-size: auto 400px;
        background-position: top center;
    }
}

ul.project-links{
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
ul.project-links li{
    margin: 0;
    flex:1;
}

ul.project-links li a.learn-more{
    margin-top:20px;
    margin-bottom:20px;
}

ul.project-links li p{
    margin: 10px 0px;
}


h2#projects{
    /* making this an id incase I need to link to it */
    text-align: center;
}

.header-small{
    background: #333333da;
    backdrop-filter: blur(5px);
    color: #fff;
    font-size: 18px;
    margin-bottom: -80px;
}
.header-small a{
    display: inline;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 840px) {
    .header-tags{
        display: none;
    }
}

.portfolio-list a{
    transition: all 0.1s ease-in;
    text-decoration: none;
    color: #666666;
    display: block;
    padding:16px;
    background-size: cover;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 0 2px #ffffff, 6px 6px 0px 0px var(--red);
    box-shadow: var(--link-button-resting);
}
.fade-blue{
    border-left: 4px solid var(--blue);
}
.fade-red{
    border-left: 4px solid var(--red);
}
.fade-orange{
    border-left: 4px solid var(--orange);
}
.fade-green{
    border-left: 4px solid var(--green);
}
.fade-purple{
    border-left: 4px solid var(--purple);
}
.fade-blue:hover, .fade-blue:focus{
    transition: background 0.2s ease-in;
    border-left: 4px solid var(--blue);
    background: linear-gradient(to right, rgba(255,255,255,.55), rgba(var(--blue-var),.15));
}
.fade-red:hover, .fade-red:focus{
    transition: background 0.2s ease-in;
    border-left: 4px solid var(--red);
    background: linear-gradient(to right, rgba(255,255,255,.55), rgba(var(--red-var),.15));
}
.fade-orange:hover, .fade-orange:focus{
    transition: background 0.2s ease-in;
    border-left: 4px solid var(--orange);
    background: linear-gradient(to right, rgba(255,255,255,.55), rgba(var(--orange-var),.15));
}
.fade-green:hover, .fade-green:focus{
    transition: background 0.2s ease-in;
    border-left: 4px solid var(--green);
    background: linear-gradient(to right, rgba(255,255,255,.55), rgba(var(--green-var),.15));
}
.fade-purple:hover, .fade-purple:focus{
    transition: background 0.2s ease-in;
    border-left: 4px solid var(--purple);
    background: linear-gradient(to right, rgba(255,255,255,.55), rgba(var(--purple-var),.15));
}

.portfolio-list a h3{
    background: rgba(255,255,255,.95);
}

.portfolio-list a:hover h3, .portfolio-list a:focus h3{
    text-decoration: underline;
}
.portfolio-list .portfolio_summary{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
}

.portfolio-list a .portfolio_summary{
    background: rgba(255,255,255,.95);
}

.portfolio-list h3{
    font-size: 24px;
    margin: 0 0 8px;
    display: inline-block;
    padding: 2px 8px;
}

.bg-fade{
    padding-top: 40px;
    margin: 24px auto;
    background-size: cover;
}



/* shim stuff */

footer{
    background-color: #333333;
    color: #fff;
}

.footer-header{
    font-size: 24px;
    display: inline;
}
footer .contact-links li{
    display: inline;
}
footer .contact-links li a{
    display: inline-block;
    color: #fff;
}